
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/700.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}