

<div class="bg-white rounded-[20px] shadow-xl p-5 w-[320px] mx-auto flex flex-col items-center">

  <div class="mb-6 w-3/4 px-4">
    <img 
      src="/images/image-qr-code.png" 
      alt="QR Code" 
      class="rounded-[20px] w-[240px] border-12 border-white ">

  
  <div class="text-center space-y-4 px-4 pb-2 w-full">
    <h1 class="text-slate-900 font-bold text-[22px] leading-7">
      Improve your front-end<br>skills by building projects
    </h1>
    
    <p class="text-slate-500 text-[15px] leading-5">
      Scan the QR code to visit Frontend<br>Mentor and take your coding skills<br>to the next level
    </p>
  </div>
</div>