---
const base = import.meta.env.BASE_URL;
---

<div class="bg-white rounded-[20px] shadow-xl p-5 w-[320px] mx-auto flex flex-col items-center">
  <div class="mb-6 w-full px-4">
    <img 
      src={`${base}/images/image-qr-code.png`} 
      alt="QR Code" 
      class="rounded-xl w-full"
      width="288"
      height="288"
    />
  </div>
  
  <div class="text-center space-y-4 px-4 pb-2 w-full">
    <h1 class="text-slate-900 font-bold text-[22px] leading-7">
      Improve your front-end skills by building projects
    </h1>
    
    <p class="text-slate-500 text-[15px] leading-5">
      Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
    </p>
  </div>
</div>